{% extends "base.html" %}
{% block content %}
<div class="container">
        <h4>Introduction</h4>
        <p>This is a DIY censorship check. Feel free to share result to others. </p>
        <p>This project is created by the Sinar Project team. You can find out more about sinarproject at <a href="https://sinarproject.org">Our web page</a></p>
        <p>The code is open source and can be found on <a href="https://github.com/Sinar/blockedornot.sinarproject.org">Github</a></p>
    </div>

</body>
{% endblock %}
